.addPlayerForm 
.addPlayerForm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addPlayerForm-input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newPlayer-input {
    text-align: center;
    font-size: 1em;
}


